$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.title {
  margin-bottom: 2%;
  margin-left: -53px;

  text-align: center;
}

// ANNOUNCEMENT
.announcement {
  height: 20px;
  width: 150px;
  margin-left: 511px;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  color: red;
  font-size: 20px;
}

// Game record button and results
.results {
  width: 150px;
  margin-left: 511px;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  color: red;
  font-size: 20px;
  height: 20px;
}

.get-record {
  text-align: center;
  margin-left: -48px;
  margin-bottom: 35px;
  margin-top: 50px;
}

.create {
  text-align: center;
  margin-left: -55px;
}

// Game Board Styling
.game-board {
  margin: 0 auto;
  height: 500px;
  width: 500px;
}

.game-tile {
  border: 1px black solid;
  float: left;
  height: 30%;
  overflow: hidden;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.tile-a {
  border-left: 0;
  border-top: 0;
}

.tile-b {
  border-top: 0;
}

.tile-c {
  border-right: 0;
  border-top: 0;
}

.tile-d {
  border-left: 0;
}

.tile-f {
  border-right: 0;
}

.tile-g {
  border-bottom: 0;
  border-left: 0;
}

.tile-h {
  border-bottom: 0;
}

.tile-i {
  border-bottom: 0;
  border-right: 0;
}

img {
  height: 150px;
  width: 150px;
}
// GAME BOARD END


// Restart button
.restart {
  text-align: center;
  margin-left: -48px;
}


// @media (max-width: 510px ) {
//   . {
//
//   }
// }
