$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.title {
  margin-bottom: 5%;
  margin-left: -53px;
  // overflow: hidden;
  text-align: center;
}

// Game Board Styling
.game-board {
  margin: 0 auto;
  height: 500px;
  width: 500px;
}

.game-tile {
  border: 1px black solid;
  float: left;
  height: 30%;
  overflow: hidden;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.tile-a {
  border-left: 0;
  border-top: 0;
}

.tile-b {
  border-top: 0;
}

.tile-c {
  border-right: 0;
  border-top: 0;
}

.tile-d {
  border-left: 0;
}

.tile-f {
  border-right: 0;
}

.tile-g {
  border-bottom: 0;
  border-left: 0;
}

.tile-h {
  border-bottom: 0;
}

.tile-i {
  border-bottom: 0;
  border-right: 0;
}

img {
  height: 150px;
  width: 150px;
}
// GAME BOARD END


// ANNOUNCEMENT and RESTART BUTTON
.announcement {
  border: 1px black solid;
  height: 20px;
  width: 150px;
  margin: 0 auto;
}

.clear-button {
  margin: 0 auto;
}
